.App {
  text-align: center;
}

.list-item {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  width: 75%;
}

.list-item button {
  height: fit-content;
}

.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

